*.elc
.sconsign.dblite
/_emacs.d/auto-save-list/
/_emacs.d/autoinsert/
/_emacs.d/elpa/
/_emacs.d/rcirc-log/
/_emacs.d/history
/_emacs.d/smex.save
/_emacs.d/tramp
/_emacs.d/server/server
/_emacs.d/url/cookies
/_emacs.d/var/gists.eieio
/_emacs.d/session.*
/_vimperator/info/default/
