#
# WeeChat plugins configuration file, created by WeeChat v0.2.6.1 on Sun Jun  7 16:08:25 2009
# WARNING! Be careful when editing this file, WeeChat writes this file when options are updated.
#
aspell.check-sync = "0"
aspell.color = "red"
aspell.word-size = "2"
charset.global.decode = "ISO-8859-1"
perl.layout.auto_save = "on"
perl.layout.buffers = "1:localhost,2:localhost/&bitlbee"
python.awl.show_servers = "OFF"
python.ctcp.dump_to_current = "ON"
python.ctcp.dump_to_servchan = "OFF"
python.ctcp.requests = "VERSION USERINFO FINGER TIME PING"
